@import "../../assets/scss/theme";

.search-input {
  min-width: 300px !important;
  @include media-breakpoint-down(md) {
    min-width: auto !important;
  }
  box-shadow: 3px 3px 5px 3px $gray-400;
  padding: 5px;
}

.search-form {
  position: relative;

  .i-search {
    position: absolute;
    right: 15px;
    top: 9px;
    color: $gray-500;
    &:hover{
      color: $gray-300;
      cursor: pointer;
    }
  }

}


.search-btn {
border: 0;
}
