@import "../../../assets/scss/theme";

.recipe-item {
  border: 1px solid $gray-200;
  margin-bottom: 5px;
  &:hover {
    background: rgba($white, 0.2);
  }
  @include media-breakpoint-down(lg) {
    //flex-direction: column;
  }
  font-size: 0.8em;
  img {
    margin-right: 10px;
    border-radius: 5px;
  }
  span {
    display: block;
    font-size: 0.8em;
  }
}
